<div class="sidebar">
    <div class="full-profile">
         <a href="{{ '/about' | relative-url  }}"><img src="{{ '/public/images/beau_brick2.png' | relative-url }}" /></a>
    </div>
    <div class="link-container">
        <div class="link-buttons mobile-profile"><a href="{{  '/about' | relative-url }}"><img src="{{ '/public/images/beau_brick_square.png' | relative-url }}" /></a></div>
        <div class="link-buttons"><a href="https://github.com/beaudavenport"><i class="fa fa-github"></i></a></div>
        <div class="link-buttons"><a href="https://twitter.com/beau_dav"><i class="fa fa-twitter"></i></a></div>
        <div class="link-buttons"><a href="mailto:davenportbeau@gmail.com"><i class="fa fa-envelope"></i></a></div>
    </div>
</div>
