<div class="sidebar">
    <div class="full-profile">
         <a href="{{ site.baseurl }}about"><img src="{{ site.baseurl }}public/images/beau_brick2.png" /></a>
    </div>
    <div class="link-container">
        <div class="link-buttons mobile-profile"><a href="{{ site.baseurl }}about"><img src="{{ site.baseurl }}public/images/beau_brick_square.png" /></a></div>
        <div class="link-buttons"><a href="https://github.com/beaudavenport"><i class="fa fa-github"></i></a></div>
        <div class="link-buttons"><a href="https://twitter.com/beau_dav"><i class="fa fa-twitter"></i></a></div>
        <div class="link-buttons"><a href="mailto:davenportbeau@gmail.com"><i class="fa fa-envelope"></i></a></div>
    </div>
</div>