<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="widescreen-wrapper">
      {% include sidebar.html %}
      
      <div class="content">
        
      
        <header class="masthead">
          <h1 class="masthead-title">
            <a href="{{ '/' | relative-url }}" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h1>
          <nav>
            <ul>
              <li><a href="{{  '/' | relative-url  }}">Blog</a></li>
              <li><a href="{{  '/about' | relative-url  }}">About Me</a></li>
              <li><a href="{{  '/portfolio' | relative-url  }}">Portfolio</a></li>
            </ul>
        </nav>
        </header>
      <div class="container">
  
        <main>
          {{ content }}
        </main>
  
        <footer class="footer">
          <small>
            &copy; Beau Davenport <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
          </small>
        </footer>
      </div>
      </div>
    </div>
  </body>
</html>
